@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #413D3D;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fbd7d7;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    border-radius: 15px;

}

.grid h1 {

    background-color: #424141;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;

}

.grid #question {
    font-size: 25px;
    color: #3d2906;
}

#score {
    color: #241ec6;
    text-align: center;
    font-size: 30px;
}

.buttons {
    margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    background-color: #01BBFF;
    width: 250px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: "Ubuntu Mono";
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
    cursor: pointer;
    background-color: #f37ec8;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#retry {
    background-color: #567fe7;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 5%;
    color: #4e0734;
}